
/* Center the form on the page */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: relative;
}

/* Form styling */
.form-container form {
  /* max-width: 250px; Adjust the width as needed */
  width:auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  color: #333;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
}

.form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: black;
}

.form-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.form-container button:hover {
  background-color: #45a049;
}

.form-container img {
  text-align: center;
  height: 80px;
  width: 100px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.success-message {
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(43, 194, 148, 0.7); /* Green translucent background */
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}